body {
  /* font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif; */
  color: #212121;
  /* background-color: #f2f2f2; */
  overflow-x: hidden;
}

#aside li {
  list-style-type: none;
}

blockquote {

  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}


article.post {
  padding: 16px;
}

aside {
  background: #f7f7f7
}

pre {
  font: 14px/20px Roboto Mono, monospace;
  color: rgb(55, 71, 79);
  margin-top: 16px;
  background-color: rgb(247, 247, 247);
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}


.article-meta {
  color: #666;
  font-size: 14px;
}

/* mobile mode */
@media screen and (min-width:992px) {
  #asidebtn {
    display:none;
  }
}

/* mobile mode */
@media screen and (max-width:991px) {

  @keyframes aside-fade-in {
    0% {
      right: -100%;
    }

    100% {
      right: 0%;
    }
  }

  @keyframes aside-fade-out {
    0% {
      right: 0%;
    }

    100% {
      right: -100%;
    }
  }

  #aside.active {
    right: 0%;
    position: absolute;

    animation-name: aside-fade-in;
    animation-duration: 0.2s;
    display: inline;
  }

  #aside {
    right: -100%;
    position: absolute;

    animation-name: aside-fade-out;
    animation-duration: 0.2s;

  }
  #aside.noactived {
    display: none;
  }

  #blog-title {
    font-size: 14px;
  }

  #asidebtn {

    width: 50px;
    right: 15px;
    bottom: 20px;
    z-index: 888;
    position: fixed;
  }

  #asidebtn:after {
    content: "<<";
  }

  #asidebtn.active:after {
    content: ">>";
  }
}